[user]
	name = Cedric
	email = 75742716+cedorikku@users.noreply.github.com
[color]
	ui = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = false
[log]
	abbrevCommit = true
	decorate = short
	date = format:%a, %Y-%m-%d %R (%z)
	follow = true
	showRoot = true
	mailmap = true
[alias]
	# status
	s = status

	# add
	a = add

	# commit
	c = commit
	ca = commit --amend

	# log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset %Cgreen(%cr)' --abbrev-commit
